In [8]:
import psycopg2
import pandas as pd

In [6]:
POSTGRES_CONFIG = {
    "dbname": "demo",
    "user": "postgres",
    "password": "postgres@7003",
    "host": "localhost",
    "port": 5432,
}

In [7]:
conn = psycopg2.connect(**POSTGRES_CONFIG)

In [12]:
df = pd.read_sql("SELECT * FROM demo_test_table", conn)
conn.close()

/var/folders/cd/0xwqxqbn22gdpcvtvsgqbzg00000gn/T/ipykernel_11825/439732002.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM demo_test_table", conn)

In [11]:
df.head()

Empty DataFrame
Columns: [id, name]
Index: []